### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [75]:
# Dependencies and Setup
import pandas as pd

In [76]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

In [77]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [78]:
# global vars
# We can use these later by calling 'f_comma' or 'f_percent'
f_comma='{:,}'.format
f_percent='{:,.2f}%'.format
f_money='${:,.2f}'.format

## Player Count

* Display the total number of players

In [79]:
# Creates a dataframe of the player count
def player_count(data):
    unique_players = len(data['SN'].unique())
    return pd.DataFrame({"Total Players": [unique_players] })

player_count(purchase_data)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [80]:
# Create the purchasing analisis
def purchasing_analysis_total(data):
    # create temp variables to hold the columns
    columns = ['Number of Unique Items','Average Purchase Price','Total Number of Purchases','Total Revenue']
    purchases = data['Price']
    analysis = pd.DataFrame({columns[0]: [len(data['Item Name'].unique())],
                             columns[1]: [purchases.mean()],
                             columns[2]: [len(purchases)],
                             columns[3]: [purchases.sum()] })
    # format data
    analysis[columns[1]] = analysis[columns[1]].map(f_money)
    analysis[columns[3]] = analysis[columns[3]].map(f_money)
    return analysis

purchasing_analysis_total(purchase_data)

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [81]:
def demographics_column(data, column):
    columns = ['Percentage of Players', 'Total Count']
    demographics = pd.DataFrame({columns[0]: data[column].value_counts(),
                                 columns[1]: data[column].value_counts(normalize=True) * 100})
    # format data
    demographics[columns[1]] = demographics[columns[1]].map(f_percent)
    return demographics

demographics_column(purchase_data,'Gender')

                       Percentage of Players Total Count
Male                                     652      83.59%
Female                                   113      14.49%
Other / Non-Disclosed                     15       1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain Purchase Count,	Average Purchase Price,	Total Purchase Value, Avg Total Purchase per Person



* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

[Groupby Tutorial 1](https://www.youtube.com/watch?v=qy0fDqoMJx8)

[Groupby Tutorial 2](https://www.youtube.com/watch?v=Wb2Tp35dZ-I)

In [82]:
# This returns the purchasing analysis for a spesific column
def purchasing_analysis_column(data, column_filter):
    columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Average Purchase Total per Person']
    analysis = pd.DataFrame()
    # loop thru the data columns' unique values
    for column in data[column_filter].unique():
        # Create a filterd data column from the column
        filtered = data.loc[data[column_filter] == column]
        column_analysis = pd.DataFrame({columns[0]: [len(filtered)],
                                        columns[1]: filtered['Price'].mean(),
                                        columns[2]: filtered['Price'].sum(),
                                        columns[3]: filtered.groupby('SN')['Price'].sum().mean() },
                                       index=[column])
        # append the new row to the analysis
        analysis = pd.concat([column_analysis, analysis])
    # format
    analysis[columns[1]] = analysis[columns[1]].map(f_money)
    analysis[columns[2]] = analysis[columns[2]].map(f_money)
    analysis[columns[3]] = analysis[columns[3]].map(f_money)
    return analysis
    
purchasing_analysis_column(purchase_data, 'Gender')

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56
Male,652,$3.02,"$1,967.64",$4.07

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [83]:
# Create the split bins and lables for the age data
age_bins = [0,10,15,20,25,30,35,40]
age_labels = ['<10','10-14','15-19','20-24','25-29','30-34', '40+']
# Ceate a purchase data DataFrame with the extra column for Age Groups
purchase_data_ages = pd.DataFrame(purchase_data)
purchase_data_ages['Age Group'] = pd.cut(purchase_data['Age'], bins=age_bins, labels=age_labels)
# use the function defined before to plot the demographics
demographics_column(purchase_data_ages,'Age Group').reindex(age_labels)

       Percentage of Players Total Count
<10                       32       4.14%
10-14                     54       6.99%
15-19                    200      25.87%
20-24                    325      42.04%
25-29                     77       9.96%
30-34                     52       6.73%
40+                       33       4.27%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [84]:
# use the previously defined function to get purchasing analysis for the age group
purchasing_analysis_column(purchase_data_ages,'Age Group').reindex(age_labels)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
<10,32,$3.40,$108.96,$4.54
10-14,54,$2.90,$156.60,$3.82
15-19,200,$3.11,$621.56,$4.14
20-24,325,$3.02,$981.64,$4.23
25-29,77,$2.88,$221.42,$3.75
30-34,52,$2.99,$155.71,$4.21
40+,33,$3.40,$112.35,$4.32

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [85]:
# group the dataframe by a filter with the purchasing, optional sort
def grouped_purchasing(data, group_filter, sort=-1):
    # Create the default columns for the aggregate function,
    # and store the pretty names as well
    columns = [['count','mean','sum'],
               ['Purchase Count','Average Purchase Price','Total Purchase Value']]
    summary = data.groupby(group_filter)['Price'].agg(columns[0])
    # if the user sends in a valid numb, sort
    if sort > -1 and sort < len(columns[0]):
        summary.sort_values(by=[columns[0][sort]], ascending=False, inplace=True)
    # format
    summary[columns[0][1]] = summary[columns[0][1]].map(f_money)
    summary[columns[0][2]] = summary[columns[0][2]].map(f_money)
    # rename
    summary.columns = columns[1]
    return summary

top_spenders = grouped_purchasing(purchase_data, ['SN'], 2)
top_spenders.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [86]:
# use the previously defined function to get purchasing analysis for the items
# sort by the second index column
most_popular_items = grouped_purchasing(purchase_data, ['Item ID', 'Item Name'], 2)
most_popular_items = most_popular_items.rename(columns={'Average Purchase Price': 'Item Price'})
most_popular_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [87]:
# use the previously defined function to get purchasing analysis for the items
# sort by the second index column
most_popular_items = grouped_purchasing(purchase_data, ['Item ID', 'Item Name'], 0)
most_popular_items = most_popular_items.rename(columns={'Average Purchase Price': 'Item Price'})
most_popular_items.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77